{% extends "onlineshopfront/base.html" %}
{% load static %}
{% block content %}
<div class="main">
    <div class="products product-grid">
        {% for product in featured %}
        <a class="product-card-link" href="{% url 'onlineshopfront:product_detail' product.pk %}">
            <div class="product-card">
                <img src="{% static 'images/coke.png' %}" alt="{{ product.product_name }}">
                <h3>{{ product.product_name }}</h3>
                <p>{{ product.product_description }}</p>
                <p class="price">${{ product.unit_price }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}